html, body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 185px;
  width: 210px;
  background-color: #1B2426;
  padding: 8px;

  font-family: 'Noto Sans', Arial, sans-serif;
}

#popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ffffff;
  text-align: center;
  margin: 15px 0;
  padding: 0;
}

#status-span {
  display: inline-block;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 700;
  transition: all .4s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 68px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 52px;
  width: 52px;
  left: 22px;
  bottom: 8px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff4500;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ff4500;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.greyed-out {
  opacity: .2;
}

.green-lit {
  color: #018749 !important;
}